.idea
__pycache__
system/cache/pyinstaller

docsv/
gui/
saves/
core/logs/
_temp/

core/assets/visuals/skill_1.jpg
core/assets/visuals/skill_2.jpg
core/assets/visuals/skill_3.jpg
core/assets/visuals/denaj.png
core/assets/visuals/dunaj.jpg

scripts/ioascript_script.ioas
scripts/python_script.py
scripts/ruby_script.rb
scripts/tribal_script.rin

# used to enable developer's features, not suitable for non-development environment
.dev