.idea
__pycache__
system/cache

docsv/
gui/
saves/
core/logs/
_temp/

core/assets/fonts

core/assets/visuals/skill_1.jpg
core/assets/visuals/skill_2.jpg
core/assets/visuals/skill_3.jpg
core/assets/visuals/denaj.png
core/assets/visuals/dunaj.jpg

core/data/pack_manag/pack_errors.yaml
core/data/pack_manag/pack_order.yaml
core/data/pack_manag/pack_disabled.yaml

temp.md

# used to enable developer's features, not suitable for non-development environment
.dev

# testing packs
packs/*.zip
stats/endermans_journey
stats/eternal_desert
stats/prehistorical_wild
stats/shooting_stars
stats/tamriel_races
stats/savei_race
worlds/eternal_desert
worlds/shooting_stars