table, th, td {
  border: 1px solid;
}

td {
  padding: 10px;
}

h1 {
  margin-bottom: 2px;
  font-size: 45px;
}

h2 {
  margin-top: 2px;
  font-size: 35px;
  color: #AFB086;
}

a {
  color: 9DAF7D;
  text-decoration: none;
}